<form [formGroup]="profileForm">
  <label for="id">id: </label>
  <input id="id-value" type="text" formControlName="id" />

  <label for="urlDocument">urlDocument: </label>
  <input id="urlDocument" type="text" formControlName="urlDocument" />

  <label for="documentTitle">documentTitle: </label>
  <input id="documentTitle" type="text" formControlName="documentTitle" />

  <button type="submit" (click)="submit()" [disabled]="!profileForm.valid">
    Submit
  </button>
</form>
<p>Complete the form to enable button.</p>

<p>Form Status: {{ profileForm.status }}</p>
